@use "../../styles/partials/variables" as *;

.theme-button {
    padding: 8px 12px 12px 12px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: $theme1-button-border;
    background-color: $theme1-button-background;

    &--black {
        @extend .theme-button;
        border: $theme2-button-border;
        background-color: $theme2-button-background;
    }

    &--blue {
        @extend .theme-button;
        border: $theme3-button-border;
        background-color: $theme3-button-background;
    }

    &__container {
        display: flex;
        gap: 24px;
    }

    &__button {
        aspect-ratio: 2/1;
        width: 64px;
    }
}
