@use "../../styles/partials/variables" as *;

.task-component {
    min-width: 75vw;
    justify-content: space-between;
    margin: 12px;
    padding: 8px;
    display: flex;
    position: relative;
    justify-content: center;
    border: $theme1-border;
    background-color: $theme1-background;

    &--black {
        @extend .task-component;
        border: $theme2-border;
        background-color: $theme2-background;
    }

    &--blue {
        @extend .task-component;
        border: $theme3-border;
        background-color: $theme3-background;
    }

    &__task {
        width: 55vw;
        text-align: center;
    }

    &__delete {
        flex: 0;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;

        &:hover {
            cursor: pointer;
        }
    }
}
