.task-component {
    width: 75vw;
    border: 1px solid #000000;
    justify-content: space-between;
    margin: 12px;
    background-color: #eeeeee;
    padding: 8px;
    display: flex;
    position: relative;
    justify-content: center;

    &--black {
        @extend .task-component;
        border: 1px solid white;
        background-color: #222222;
    }

    &__task {
        width: 55vw;
        text-align: center;
    }

    &__delete {
        flex: 0;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;

        &:hover {
            cursor: pointer;
        }
    }
}
