.task-component {
    width: 80vw;
    border: 1px solid #000000;
    justify-content: space-between;
    margin: 12px;
    background-color: #eeeeee;
    padding: 8px;
    display: flex;
    position: relative;
    justify-content: center;

    &__task {
        width: 50vw;
    }

    &__delete {
        flex: 0;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}
