// Theme Variable Mixins

$theme1-background: #eeeeee;
$theme1-border: 1px solid #000000;
$theme1-button-background: #fafafa;
$theme1-button-border: 1px solid #fafafa;

$theme2-background: #222222;
$theme2-border: 1px solid white;
$theme2-button-background: #222222;
$theme2-button-border: 1px solid black;

$theme3-background: #0047ab;
$theme3-border: 1px solid white;
$theme3-button-background: #092876;
$theme3-button-border: 1px solid white;
