@use "./partials/global" as *;

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    height: 100vh;
    overflow: auto;

    &--black {
        @extend .app;
        background-color: #111111;
        color: white;
    }

    &--blue {
        @extend .app;
        background-color: #012169;
        color: white;
    }

    &__header {
        align-self: center;
    }

    &__form {
        display: flex;
        justify-content: center;
        margin: 24px 0;
        width: 75vw;
    }

    &__input {
        min-height: 24px;
        flex-grow: 1;
        max-width: 600px;
    }

    &__add-button {
        min-height: 24px;
        margin-left: 24px;
    }

    &__list {
        list-style: none;
        padding: 0;
    }
}
